body {
  height: 100vh;
  background-image: url("./images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 660px;
  margin: auto;
}
.heroes {
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero {
  width: 80px;
  height: 84px;
  margin: 4px;
  border: 3px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #555;
  overflow: hidden;
  transform: skewX(-14deg);
  transition: 
  transform .2s, 
  background-color .8s;
}
.hero:hover {
  transform: skewX(-14deg) scale(1.3);
  background-color: #ff9c00;
  z-index: 1;
}
.face {
  width: 140%;
  height: 100%;
  transform: translateX(-16px) skewX(14deg);
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
}
.hero:nth-child(1) .face { background-image: url("./images/hero1.png"); }
.hero:nth-child(2) .face { background-image: url("./images/hero2.png"); }
.hero:nth-child(3) .face { background-image: url("./images/hero3.png"); }
.hero:nth-child(4) .face { background-image: url("./images/hero4.png"); }
.hero:nth-child(5) .face { background-image: url("./images/hero5.png"); }
.hero:nth-child(6) .face { background-image: url("./images/hero6.png"); }
.hero:nth-child(7) .face { background-image: url("./images/hero7.png"); }
.hero:nth-child(8) .face { background-image: url("./images/hero8.png"); }
.hero:nth-child(9) .face { background-image: url("./images/hero9.png"); }
.hero:nth-child(10) .face { background-image: url("./images/hero10.png"); }
.hero:nth-child(11) .face { background-image: url("./images/hero11.png"); }
.hero:nth-child(12) .face { background-image: url("./images/hero12.png"); }
.hero:nth-child(13) .face { background-image: url("./images/hero13.png"); }
.hero:nth-child(14) .face { background-image: url("./images/hero14.png"); }
.hero:nth-child(15) .face { background-image: url("./images/hero15.png"); }
.hero:nth-child(16) .face { background-image: url("./images/hero16.png"); }
.hero:nth-child(17) .face { background-image: url("./images/hero17.png"); }
.hero:nth-child(18) .face { background-image: url("./images/hero18.png"); }
.hero:nth-child(19) .face { background-image: url("./images/hero19.png"); }
.hero:nth-child(20) .face { background-image: url("./images/hero20.png"); } 
.hero:nth-child(21) .face { background-image: url("./images/hero21.png"); }
.hero:nth-child(22) .face { background-image: url("./images/hero22.png"); }
.hero:nth-child(23) .face { background-image: url("./images/hero23.png"); }
.hero:nth-child(24) .face { background-image: url("./images/hero24.png"); }
.hero:nth-child(25) .face { background-image: url("./images/hero25.png"); }
.hero:nth-child(26) .face { background-image: url("./images/hero26.png"); }
.hero:nth-child(27) .face { background-image: url("./images/hero27.png"); }
.hero:nth-child(28) .face { background-image: url("./images/hero28.png"); }
.hero:nth-child(29) .face { background-image: url("./images/hero29.png"); }
.hero:nth-child(30) .face { background-image: url("./images/hero30.png"); }
.hero:nth-child(31) .face { background-image: url("./images/hero31.png"); }
.hero:nth-child(32) .face { background-image: url("./images/hero32.png"); }

img {
  display: block; /*블럭만 마진오토 가능함*/
  max-width: 300px;
  padding-bottom: 15px;
  margin: auto;
}
